header {
    margin-top: 50px;
    min-height: 150px;
}

body {
    background-color: rgb(199, 199, 199);
    max-width: 1024px;
    margin: 0 auto;
    
}

main {
    margin-top: 20px;
}

.startPage {
    display: none;
    max-width: 400px;
    margin: 100px auto 0 auto;
    justify-content: center;
    align-items: center;
}

.mainPage {
    /* display: none; */
}

.container {
    width:90%;
    position: relative;
}

.begin {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.dropdown-menu {
    font-size: 1.3rem;
    /* background-color: rgba(0, 0, 0, 0.466); */
}

nav {
    width: 80%;
    min-height: 90px;

}

.key-container {
    /* display: none; */
    margin-top: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
}

.keyboard {
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
}

.bttn {
    margin-top: 10px;
    max-width: 70px;
    max-height: 70px;
    padding: 40px;
    /* margin: auto; */
    text-align: center;
    font-size: 1.7rem;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.targets{
    
    /* padding: 30px; */
    /* font-size: 1.2rem; */
    /* font-family: Helvetica, Arial, sans-serif; */
    /* color: rgb(34, 34, 34); */
    
    /* box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.26); */
    display: inline;
    align-items: center;
    justify-content: center;
}

.bttn.active {
    background-color: rgb(175, 175, 175);
    box-shadow: 3px 3px 5px rgb(175, 175, 175);
}

.bttn.activeMiss {
    background-color: rgba(255, 5, 5, 0.801);
}

.bttn.activeAI {
    background-color: rgba(239, 255, 98, 0.801);
}

.bttn.activeScore {
    background-color: rgba(0, 211, 11, 0.801);
    border: 2px solid rgba(0, 0, 0, 0.801);
    box-shadow: 3px 3px 5px rgba(0, 211, 11, 0.801);
}

.play {
    /* background-color: rgb(59, 212, 54); */
    /* border: 1px solid black; */
    padding: 10px 20px;
    text-align: center;
    margin-left: 0px;
}

.stop {
    /* background-color: rgb(245, 76, 76); */
    /* border: 1px solid black; */
    padding: 10px 20px;
    text-align: center;
    margin-left: 0px;
}

.time {
    /* background-color: rgb(245, 76, 76); */
    /* border: 1px solid black; */
    padding: 10px 20px;
    margin-left: 0px;
    text-align: center;
}
